<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../css/KylieCosmetics/Menu.css">
    <link rel="stylesheet" href="../css/KylieCosmetics/new.css">
    <link rel="stylesheet" href="../css/KylieCosmetics/Footer.css"> -->
    <link rel="stylesheet" href="../../../css/KylieCosmetics_Css/Menu.css">
    <link rel="stylesheet" href="../../../css/KylieCosmetics_Css/Footer.css">
    <link rel="stylesheet" href="../../../css/KylieCosmetics_Css/new.css">
    <link rel="stylesheet" href="../../../css/KylieCosmetics_Css/mobile.css">
    <link href="https://fonts.cdnfonts.com/css/tt-chocolates" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bc0e146360.js" crossorigin="anonymous"></script>
    <title>KYLIE COSMETICS BY KYLIE JENNER</title>
</head>

<body>
    <!-- <div style="height:90px"></div> -->
    <div class="background-menu">
        <div class="Menu-bar backgroundW background_header">
            <div>
                <ul class="list-menu">
                    <li class="Subnav">
                        <a href="" class="font16px"> Kylie cosmetics
                            <div class="wrapper_subnac_content">
                                <div class="subnac-content">
                                    <div class="item">
                                        <a href="./new.ejs"><img class="img-product"
                                                src="../img/New_Site_Menu_Images.avif" alt=""></a>
                                        <a class="text-pink" href="./new.ejs">new</a>
                                        <a href="./VelvetLipKits.ejs">velvet lip kits</a>
                                    </div>
                                    <div class="item">
                                        <a href=""><img class="img-product" src="../img/homepage.avif" alt=""></a>
                                        <a class="text-pink" href="./bestSellers.ejs">best sellers</a>
                                    </div>
                                    <div class="item">
                                        <a href=""><img class="img-product" src="../img/lip_page.avif" alt=""></a>
                                        <a class="text-pink" href="">lips</a>
                                        <a href="./lipKits.ejs">lip kits</a>
                                        <a href="./liquidLipSticks.ejs">liquid lipsticks</a>
                                        <a href="./lipGlosses.ejs">lip glosses</a>
                                        <a href="./lipBlushes.ejs">lip blushes</a>
                                        <a href="./lipShineLacquers.ejs">lip shine lacquers</a>
                                        <a href="./lipCrayons.ejs">lip crayons</a>
                                        <a href="./lipLiners.ejs">lip liners</a>
                                        <a href="./lipCare.ejs">lip care</a>
                                    </div>
                                    <div class="item">
                                        <a href=""><img class="img-product" src="../img/face_page.avif" alt=""></a>
                                        <a class="text-pink" href="">face</a>
                                        <a href="">blushes</a>
                                        <a href="">bronzers</a>
                                        <a href="">highlighters</a>
                                        <a href="">setting powders</a>
                                    </div>
                                    <div class="item">
                                        <a href=""><img class="img-product" src="../img/eye_page.avif" alt=""></a>
                                        <a class="text-pink" href="">eyes</a>
                                        <a href="">palettes</a>
                                        <a href+="">eyeliners</a>
                                        <a href="">lashes</a>
                                    </div>
                                    <div class="item">
                                        <a href=""><img class="img-product" src="../img/Eyebrows_page.avif" alt=""></a>
                                        <a class="text-pink" href="">eyebrows</a>
                                        <a href="">brow kits</a>
                                        <a href="">brow pencils</a>
                                        <a href="">brow highlighters</a>
                                        <a href="">brow gel</a>
                                    </div>
                                    <div class="item">
                                        <a href=""><img class="img-product" src="../img/Collection_page.avif"
                                                alt=""></a>
                                        <a class="text-pink" href="">collections</a>
                                        <a href="">gloss & glow</a>
                                        <a href="">wizard of oz</a>
                                        <a href="">batman</a>
                                        <a href="">kris collection</a>
                                        <a href="">birthday</a>
                                    </div>
                                    <div class="item">
                                        <a href=""><img class="img-product" src="../img/Bundles&set_page.avif"
                                                alt=""></a>
                                        <a class="text-pink" href="">bundles & sets</a>
                                    </div>
                                    <div class="margin-left">
                                        <a class="padding-15px text-pink" href="">back in stock</a>
                                        <a class="padding-15px text-pink" href="">tools</a>
                                        <a class="padding-15px text-pink" href="">sale</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="Subnav">
                        <a href="" class="font16px">Kylie skin
                            <div class="wrapper_subnac_content">
                                <div class="subnac-content">
                                    <div class="item">
                                        <a href=""><img class="img-product" src="../img/Skin_New.avif" alt=""></a>
                                        <a class="text-pink" href="">New</a>
                                        <a href="">glow powder cleanser</a>
                                        <a href="">aha + enztme glow mask</a>
                                    </div>
                                    <div class="item">
                                        <a href=""><img class="img-product" src="../img/Skin_bestsellers.avif"
                                                alt=""></a>
                                        <a class="text-pink" href="">Best Sellers</a>
                                    </div>
                                    <div class="item">
                                        <a href=""><img class="img-product" src="../img/Skin_Face.avif" alt=""></a>
                                        <a class="text-pink" href="">face</a>
                                        <a href="">lip oils</a>
                                        <a href="">cleansers</a>
                                        <a href="">toners</a>
                                        <a href="">serums</a>
                                        <a href="">moisturizers</a>
                                        <a href="">minis</a>
                                    </div>
                                    <div class="item">
                                        <a href=""><img class="img-product" src="../img/Skin_body.avif" alt=""></a>
                                        <a class="text-pink" href="">body</a>
                                        <a href="">body wash & scrubs</a>
                                        <a href="">body lotions & oils</a>
                                        <a href="">bath soaks & bubbles</a>
                                        <a href="">bath accessories</a>
                                    </div>
                                    <div class="item">
                                        <a href=""><img class="img-product" src="../img/Skin_treament&Care.avif"
                                                alt=""></a>
                                        <a class="text-pink" href="">treament & care</a>
                                        <a href="">lip care</a>
                                        <a href="">eye care</a>
                                        <a href="">exfoliators</a>
                                        <a href="">masks</a>
                                    </div>
                                    <div class="item">
                                        <a href=""><img class="img-product" src="../img/Skin_Collections.avif"
                                                alt=""></a>
                                        <a class="text-pink" href="">collection</a>
                                        <a href="">lavender</a>
                                        <a href="">rose bath</a>
                                        <a href="">coconut body</a>
                                        <a href="">clear & clarify</a>
                                    </div>
                                    <div class="item">
                                        <a href=""><img class="img-product" src="../img/Skin_SkinConcerns.avif"
                                                alt=""></a>
                                        <a class="text-pink" href="">skin concerns</a>
                                        <a href="">dryness</a>
                                        <a href="">dullness</a>
                                        <a href="">pores & excess oil</a>
                                        <a href="">uneven tone & texture</a>
                                    </div>
                                    <div class="item">
                                        <a href=""><img class="img-product" src="../img/Skin_Bundles&sets.avif"
                                                alt=""></a>
                                        <a class="text-pink" href="">bundles & sets</a>
                                    </div>
                                    <div>
                                        <a class="padding-15px text-pink" href="">back in stock</a>
                                        <a class="padding-15px text-pink" href="">tools</a>
                                        <a class="padding-15px text-pink" href="">sale</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="Subnav">
                        <a href="" class="font16px">Kylie baby
                            <div class="wrapper_subnac_content">
                                <div class="subnac-content">
                                    <div class="item">
                                        <a href=""><img class="img-product" src="../img/gentleshampoo.avif" alt=""></a>
                                        <a class="text-pink" href="">gentle shampoo</a>
                                    </div>
                                    <div class="item">
                                        <a href=""><img class="img-product" src="../img/gentleshampoo.avif" alt=""></a>
                                        <a class="text-pink" href="">Best conditioner</a>
                                    </div>
                                    <div class="item">
                                        <a href=""><img class="img-product" src="../img/moisturizinglotion.avif"
                                                alt=""></a>
                                        <a class="text-pink" href="">moisturizing lotion</a>
                                    </div>
                                    <div class="item">
                                        <a href=""><img class="img-product" src="../img/lip&cheekstick.avif" alt=""></a>
                                        <a class="text-pink" href="">lip & cheekstick</a>
                                    </div>
                                    <div class="item">
                                        <a href=""><img class="img-product" src="../img/soothingbalm.avif" alt=""></a>
                                        <a class="text-pink" href="">soothing balm</a>
                                    </div>
                                    <div class="item">
                                        <a href=""><img class="img-product" src="../img/bathtowel.avif" alt=""></a>
                                        <a class="text-pink" href="">bath towel</a>
                                    </div>
                                    <div class="item">
                                        <a href=""><img class="img-product" src="../img/travelcase.avif" alt=""></a>
                                        <a class="text-pink" href="">travel case</a>
                                    </div>
                                    <div class="item">
                                        <a href=""><img class="img-product" src="../img/baby_bundles&sets.avif"
                                                alt=""></a>
                                        <a class="text-pink" href="">bundles & sets</a>
                                    </div>
                                    <button class="custombtn">shop all</button>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="Subnav">
                        <a href="" class="font16px">discover
                            <div class="wrapper_subnac_content">
                                <div class="subnac-content">
                                    <div class="item">
                                        <a href=""><img class="img-product" src="../img/kylie'slooks.avif" alt=""></a>
                                        <a class="text-pink" href="">Kylie's looks</a>
                                    </div>
                                    <div class="item">
                                        <a href=""><img class="img-product" src="../img/lipcombos.avif" alt=""></a>
                                        <a class="text-pink" href="">lip combos</a>
                                    </div>
                                    <div class="item">
                                        <a href=""><img class="img-product" src="../img/about.avif" alt=""></a>
                                        <a class="text-pink" href="">about</a>
                                    </div>
                                    <div class="item">
                                        <a href=""><img class="img-product" src="../img/gift_cart.png" alt=""></a>
                                        <a class="text-pink" href="">gift cart</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="Logo">
                <a href="" class="text">
                    <div class="text font25px">KYLIE COSMETICS</div>
                    <div class="text font10px">BY KYLIE JENNER</div>
                </a>
            </div>
            <div class="Icon-Option">
                <ul class="list-icon">
                    <li><a href=""><i class="fa-regular fa-heart iconcustom"></i></a></li>
                    <li><a href=""><i class="fa-regular fa-user iconcustom"></i></a></li>
                    <li><a href=""><i class="fa-solid fa-magnifying-glass iconcustom"></i></a></li>
                    <li><img src="../img/lips.png" alt="" class=""></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="wrapper_content_product">
        <h1 class="header_product">
            LIP SHINE LACQUERS
        </h1>
        <div class="sort_bar">
            <span>12 product</span>
            <div class="wrapper_sortBtn">
                <button>
                    <span class="wrapper_content_sort">
                        <span id="title_sort">
                            sort by:
                        </span>
                        <p id="text_sort">featured</p>
                        <span class="down_icon"><i class="fa-solid fa-angle-down"></i></span>
                    </span>
                    <div class="sort_list">
                        <div class="sort_list_item">featured</div>
                        <div class="sort_list_item">newest</div>
                        <div class="sort_list_item">best selling</div>
                        <div class="sort_list_item">price (high to low)</div>
                        <div class="sort_list_item">price (low to high)</div>
                        <div class="sort_list_item">name a-z</div>
                        <div class="sort_list_item">name z-a</div>
                    </div>
                </button>
                <button>filter</button>
            </div>
        </div>
        <div class="wrapper_product">

            <div class="wrapperAllProductItem">

                <div class="product_item">
                    <img src="https://cdn.shopify.com/s/files/1/0566/3175/4839/products/fyetpnkuqde5agw6csut_855bb81d-9fbc-484c-98aa-551ba8b199c2_600x600.jpg?v=1676890854"
                        alt="" class="img_behind">
                    <img src="https://cdn.shopify.com/s/files/1/0566/3175/4839/products/KJS_LAV_BATH_22_Body_Lotion_Closed_8oz_Lavender_Background_600x600.jpg?v=1676988892"
                        alt="" class="img_front">
                    <div class="wrapper_note_product">
                        <div class="note_item">
                            <div class="wrapper_rating">
                                <p>
                                    <i id="blackStar" class="fa-solid fa-star"></i>
                                    <i id="blackStar" class="fa-solid fa-star"></i>
                                    <i id="blackStar" class="fa-solid fa-star"></i>
                                    <i id="blackStar" class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    (4293)
                                </p>
                            </div>
                            <div class="header_note">
                                <a href="">harmoney</a>
                                <span>
                                    €
                                    <span class="cost">32</span>
                                </span>
                            </div>
                            <p>velvet lip kit</p>
                            <div class="wrapper_footer_btn">
                                <div class="wrapper_count">
                                    <button id="wrapper_count_item" onclick="carculator(this,1)"
                                        class="btn_count decrease">-</button>
                                    <p id="wrapper_count_item" class="counter">1</p>
                                    <button id="wrapper_count_item" onclick="carculator(this,0)"
                                        class="btn_count">+</button>
                                </div>
                                <a href="">
                                    <button class="buyProduct">add to cart - $<span class="price">32</span></button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrapperAllProductItem">

                <div class="product_item">
                    <img src="https://cdn.shopify.com/s/files/1/0566/3175/4839/products/fyetpnkuqde5agw6csut_855bb81d-9fbc-484c-98aa-551ba8b199c2_600x600.jpg?v=1676890854"
                        alt="" class="img_behind">
                    <img src="https://cdn.shopify.com/s/files/1/0566/3175/4839/products/KJS_LAV_BATH_22_Body_Lotion_Closed_8oz_Lavender_Background_600x600.jpg?v=1676988892"
                        alt="" class="img_front">
                    <div class="wrapper_note_product">
                        <div class="note_item">
                            <div class="wrapper_rating">
                                <p>
                                    <i id="blackStar" class="fa-solid fa-star"></i>
                                    <i id="blackStar" class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    (4293)
                                </p>
                            </div>
                            <div class="header_note">
                                <a href="">harmoney</a>
                                <span>
                                    €
                                    <span class="cost">32</span>
                                </span>
                            </div>
                            <p>velvet lip kit</p>
                            <div class="wrapper_footer_btn">
                                <div class="wrapper_count">
                                    <button id="wrapper_count_item" onclick="carculator(this,1)"
                                        class="btn_count decrease">-</button>
                                    <p id="wrapper_count_item" class="counter">1</p>
                                    <button id="wrapper_count_item" onclick="carculator(this,0)"
                                        class="btn_count">+</button>
                                </div>
                                <a href="">
                                    <button class="buyProduct">add to cart - $<span class="price">32</span></button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrapperAllProductItem">

                <div class="product_item">
                    <img src="https://cdn.shopify.com/s/files/1/0566/3175/4839/products/fyetpnkuqde5agw6csut_855bb81d-9fbc-484c-98aa-551ba8b199c2_600x600.jpg?v=1676890854"
                        alt="" class="img_behind">
                    <img src="https://cdn.shopify.com/s/files/1/0566/3175/4839/products/KJS_LAV_BATH_22_Body_Lotion_Closed_8oz_Lavender_Background_600x600.jpg?v=1676988892"
                        alt="" class="img_front">
                    <div class="wrapper_note_product">
                        <div class="note_item">
                            <div class="wrapper_rating">
                                <p>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    (4293)
                                </p>
                            </div>
                            <div class="header_note">
                                <a href="">harmoney</a>
                                <span>
                                    €
                                    <span class="cost">32</span>
                                </span>
                            </div>
                            <p>velvet lip kit</p>
                            <div class="wrapper_footer_btn">
                                <div class="wrapper_count">
                                    <button id="wrapper_count_item" onclick="carculator(this,1)"
                                        class="btn_count decrease">-</button>
                                    <p id="wrapper_count_item" class="counter">1</p>
                                    <button id="wrapper_count_item" onclick="carculator(this,0)"
                                        class="btn_count">+</button>
                                </div>
                                <a href="">
                                    <button class="buyProduct">add to cart - $<span class="price">32</span></button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrapperAllProductItem">

                <div class="product_item">
                    <img src="https://cdn.shopify.com/s/files/1/0566/3175/4839/products/fyetpnkuqde5agw6csut_855bb81d-9fbc-484c-98aa-551ba8b199c2_600x600.jpg?v=1676890854"
                        alt="" class="img_behind">
                    <img src="https://cdn.shopify.com/s/files/1/0566/3175/4839/products/KJS_LAV_BATH_22_Body_Lotion_Closed_8oz_Lavender_Background_600x600.jpg?v=1676988892"
                        alt="" class="img_front">
                    <div class="wrapper_note_product">
                        <div class="note_item">
                            <div class="wrapper_rating">
                                <p>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    (4293)
                                </p>
                            </div>
                            <div class="header_note">
                                <a href="">harmoney</a>
                                <span>
                                    €
                                    <span class="cost">32</span>
                                </span>
                            </div>
                            <p>velvet lip kit</p>
                            <div class="wrapper_footer_btn">
                                <div class="wrapper_count">
                                    <button id="wrapper_count_item" onclick="carculator(this,1)"
                                        class="btn_count decrease">-</button>
                                    <p id="wrapper_count_item" class="counter">1</p>
                                    <button id="wrapper_count_item" onclick="carculator(this,0)"
                                        class="btn_count">+</button>
                                </div>
                                <a href="">
                                    <button class="buyProduct">add to cart - $<span class="price">32</span></button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrapperAllProductItem">

                <div class="product_item">
                    <img src="https://cdn.shopify.com/s/files/1/0566/3175/4839/products/fyetpnkuqde5agw6csut_855bb81d-9fbc-484c-98aa-551ba8b199c2_600x600.jpg?v=1676890854"
                        alt="" class="img_behind">
                    <img src="https://cdn.shopify.com/s/files/1/0566/3175/4839/products/KJS_LAV_BATH_22_Body_Lotion_Closed_8oz_Lavender_Background_600x600.jpg?v=1676988892"
                        alt="" class="img_front">
                    <div class="wrapper_note_product">
                        <div class="note_item">
                            <div class="wrapper_rating">
                                <p>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    (4293)
                                </p>
                            </div>
                            <div class="header_note">
                                <a href="">harmoney</a>
                                <span>
                                    €
                                    <span class="cost">32</span>
                                </span>
                            </div>
                            <p>velvet lip kit</p>
                            <div class="wrapper_footer_btn">
                                <div class="wrapper_count">
                                    <button id="wrapper_count_item" onclick="carculator(this,1)"
                                        class="btn_count decrease">-</button>
                                    <p id="wrapper_count_item" class="counter">1</p>
                                    <button id="wrapper_count_item" onclick="carculator(this,0)"
                                        class="btn_count">+</button>
                                </div>
                                <a href="">
                                    <button class="buyProduct">add to cart - $<span class="price">32</span></button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrapperAllProductItem">

                <div class="product_item">
                    <img src="https://cdn.shopify.com/s/files/1/0566/3175/4839/products/fyetpnkuqde5agw6csut_855bb81d-9fbc-484c-98aa-551ba8b199c2_600x600.jpg?v=1676890854"
                        alt="" class="img_behind">
                    <img src="https://cdn.shopify.com/s/files/1/0566/3175/4839/products/KJS_LAV_BATH_22_Body_Lotion_Closed_8oz_Lavender_Background_600x600.jpg?v=1676988892"
                        alt="" class="img_front">
                    <div class="wrapper_note_product">
                        <div class="note_item">
                            <div class="wrapper_rating">
                                <p>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    (4293)
                                </p>
                            </div>
                            <div class="header_note">
                                <a href="">harmoney</a>
                                <span>
                                    €
                                    <span class="cost">32</span>
                                </span>
                            </div>
                            <p>velvet lip kit</p>
                            <div class="wrapper_footer_btn">
                                <div class="wrapper_count">
                                    <button id="wrapper_count_item" onclick="carculator(this,1)"
                                        class="btn_count decrease">-</button>
                                    <p id="wrapper_count_item" class="counter">1</p>
                                    <button id="wrapper_count_item" onclick="carculator(this,0)"
                                        class="btn_count">+</button>
                                </div>
                                <a href="">
                                    <button class="buyProduct">add to cart - $<span class="price">32</span></button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrapperAllProductItem">

                <div class="product_item">
                    <img src="https://cdn.shopify.com/s/files/1/0566/3175/4839/products/fyetpnkuqde5agw6csut_855bb81d-9fbc-484c-98aa-551ba8b199c2_600x600.jpg?v=1676890854"
                        alt="" class="img_behind">
                    <img src="https://cdn.shopify.com/s/files/1/0566/3175/4839/products/KJS_LAV_BATH_22_Body_Lotion_Closed_8oz_Lavender_Background_600x600.jpg?v=1676988892"
                        alt="" class="img_front">
                    <div class="wrapper_note_product">
                        <div class="note_item">
                            <div class="wrapper_rating">
                                <p>
                                    <i id="blackStar" class="fa-solid fa-star"></i>
                                    <i id="blackStar" class="fa-solid fa-star"></i>
                                    <i id="blackStar" class="fa-solid fa-star"></i>
                                    <i id="blackStar" class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    (4293)
                                </p>
                            </div>
                            <div class="header_note">
                                <a href="">harmoney</a>
                                <span>
                                    €
                                    <span class="cost">32</span>
                                </span>
                            </div>
                            <p>velvet lip kit</p>
                            <div class="wrapper_footer_btn">
                                <div class="wrapper_count">
                                    <button id="wrapper_count_item" onclick="carculator(this,1)"
                                        class="btn_count decrease">-</button>
                                    <p id="wrapper_count_item" class="counter">1</p>
                                    <button id="wrapper_count_item" onclick="carculator(this,0)"
                                        class="btn_count">+</button>
                                </div>
                                <a href="">
                                    <button class="buyProduct">add to cart - $<span class="price">32</span></button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrapperAllProductItem">

                <div class="product_item">
                    <img src="https://cdn.shopify.com/s/files/1/0566/3175/4839/products/fyetpnkuqde5agw6csut_855bb81d-9fbc-484c-98aa-551ba8b199c2_600x600.jpg?v=1676890854"
                        alt="" class="img_behind">
                    <img src="https://cdn.shopify.com/s/files/1/0566/3175/4839/products/KJS_LAV_BATH_22_Body_Lotion_Closed_8oz_Lavender_Background_600x600.jpg?v=1676988892"
                        alt="" class="img_front">
                    <div class="wrapper_note_product">
                        <div class="note_item">
                            <div class="wrapper_rating">
                                <p>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    (4293)
                                </p>
                            </div>
                            <div class="header_note">
                                <a href="">harmoney</a>
                                <span>
                                    €
                                    <span class="cost">32</span>
                                </span>
                            </div>
                            <p>velvet lip kit</p>
                            <div class="wrapper_footer_btn">
                                <div class="wrapper_count">
                                    <button id="wrapper_count_item" onclick="carculator(this,1)"
                                        class="btn_count decrease">-</button>
                                    <p id="wrapper_count_item" class="counter">1</p>
                                    <button id="wrapper_count_item" onclick="carculator(this,0)"
                                        class="btn_count">+</button>
                                </div>
                                <a href="">
                                    <button class="buyProduct">add to cart - $<span class="price">32</span></button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrapperAllProductItem">

                <div class="product_item">
                    <img src="https://cdn.shopify.com/s/files/1/0566/3175/4839/products/fyetpnkuqde5agw6csut_855bb81d-9fbc-484c-98aa-551ba8b199c2_600x600.jpg?v=1676890854"
                        alt="" class="img_behind">
                    <img src="https://cdn.shopify.com/s/files/1/0566/3175/4839/products/KJS_LAV_BATH_22_Body_Lotion_Closed_8oz_Lavender_Background_600x600.jpg?v=1676988892"
                        alt="" class="img_front">
                    <div class="wrapper_note_product">
                        <div class="note_item">
                            <div class="wrapper_rating">
                                <p>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    (4293)
                                </p>
                            </div>
                            <div class="header_note">
                                <a href="">harmoney</a>
                                <span>
                                    €
                                    <span class="cost">32</span>
                                </span>
                            </div>
                            <p>velvet lip kit</p>
                            <div class="wrapper_footer_btn">
                                <div class="wrapper_count">
                                    <button id="wrapper_count_item" onclick="carculator(this,1)"
                                        class="btn_count decrease">-</button>
                                    <p id="wrapper_count_item" class="counter">1</p>
                                    <button id="wrapper_count_item" onclick="carculator(this,0)"
                                        class="btn_count">+</button>
                                </div>
                                <a href="">
                                    <button class="buyProduct">add to cart - $<span class="price">32</span></button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrapperAllProductItem">

                <div class="product_item">
                    <img src="https://cdn.shopify.com/s/files/1/0566/3175/4839/products/fyetpnkuqde5agw6csut_855bb81d-9fbc-484c-98aa-551ba8b199c2_600x600.jpg?v=1676890854"
                        alt="" class="img_behind">
                    <img src="https://cdn.shopify.com/s/files/1/0566/3175/4839/products/KJS_LAV_BATH_22_Body_Lotion_Closed_8oz_Lavender_Background_600x600.jpg?v=1676988892"
                        alt="" class="img_front">
                    <div class="wrapper_note_product">
                        <div class="note_item">
                            <div class="wrapper_rating">
                                <p>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    (4293)
                                </p>
                            </div>
                            <div class="header_note">
                                <a href="">harmoney</a>
                                <span>
                                    €
                                    <span class="cost">32</span>
                                </span>
                            </div>
                            <p>velvet lip kit</p>
                            <div class="wrapper_footer_btn">
                                <div class="wrapper_count">
                                    <button id="wrapper_count_item" onclick="carculator(this,1)"
                                        class="btn_count decrease">-</button>
                                    <p id="wrapper_count_item" class="counter">1</p>
                                    <button id="wrapper_count_item" onclick="carculator(this,0)"
                                        class="btn_count">+</button>
                                </div>
                                <a href="">
                                    <button class="buyProduct">add to cart - $<span class="price">32</span></button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrapperAllProductItem">

                <div class="product_item">
                    <img src="https://cdn.shopify.com/s/files/1/0566/3175/4839/products/fyetpnkuqde5agw6csut_855bb81d-9fbc-484c-98aa-551ba8b199c2_600x600.jpg?v=1676890854"
                        alt="" class="img_behind">
                    <img src="https://cdn.shopify.com/s/files/1/0566/3175/4839/products/KJS_LAV_BATH_22_Body_Lotion_Closed_8oz_Lavender_Background_600x600.jpg?v=1676988892"
                        alt="" class="img_front">
                    <div class="wrapper_note_product">
                        <div class="note_item">
                            <div class="wrapper_rating">
                                <p>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    (4293)
                                </p>
                            </div>
                            <div class="header_note">
                                <a href="">harmoney</a>
                                <span>
                                    €
                                    <span class="cost">32</span>
                                </span>
                            </div>
                            <p>velvet lip kit</p>
                            <div class="wrapper_footer_btn">
                                <div class="wrapper_count">
                                    <button id="wrapper_count_item" onclick="carculator(this,1)"
                                        class="btn_count decrease">-</button>
                                    <p id="wrapper_count_item" class="counter">1</p>
                                    <button id="wrapper_count_item" onclick="carculator(this,0)"
                                        class="btn_count">+</button>
                                </div>
                                <a href="">
                                    <button class="buyProduct">add to cart - $<span class="price">32</span></button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="wrapperAllProductItem">

                <div class="product_item">
                    <img src="https://cdn.shopify.com/s/files/1/0566/3175/4839/products/fyetpnkuqde5agw6csut_855bb81d-9fbc-484c-98aa-551ba8b199c2_600x600.jpg?v=1676890854"
                        alt="" class="img_behind">
                    <img src="https://cdn.shopify.com/s/files/1/0566/3175/4839/products/KJS_LAV_BATH_22_Body_Lotion_Closed_8oz_Lavender_Background_600x600.jpg?v=1676988892"
                        alt="" class="img_front">
                    <div class="wrapper_note_product">
                        <div class="note_item">
                            <div class="wrapper_rating">
                                <p>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    (4293)
                                </p>
                            </div>
                            <div class="header_note">
                                <a href="">harmoney</a>
                                <span>
                                    €
                                    <span class="cost">32</span>
                                </span>
                            </div>
                            <p>velvet lip kit</p>
                            <div class="wrapper_footer_btn">
                                <div class="wrapper_count">
                                    <button id="wrapper_count_item" onclick="carculator(this,1)"
                                        class="btn_count decrease">-</button>
                                    <p id="wrapper_count_item" class="counter">1</p>
                                    <button id="wrapper_count_item" onclick="carculator(this,0)"
                                        class="btn_count">+</button>
                                </div>
                                <a href="">
                                    <button class="buyProduct">add to cart - $<span class="price">32</span></button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="enter_email">
            <h2>sign up for updates:</h2>
            <input type="text" name="Full name" placeholder="email address" />
            <button class="submit">submit</button>
            <p>
                by signing up you agree to our <a href="">terms</a>.
            </p>

            <div class="awefont_internet">
                <a href=""><i class="fab fa-facebook"></i></a>

                <a href=""><i class="fab fa-instagram"></i></a>

                <a href=""><i class="fab fa-tiktok"></i></a>

                <a href=""><i class="fab fa-youtube"></i></a>
            </div>

            <ul class="contact_link">
                <li>
                    <link href="" />contact us
                </li>
                <li>
                    <link href="" />faq
                </li>
                <li>
                    <link href="" />shipping
                </li>
                <li>
                    <link href="" /> order tracking
                </li>
            </ul>

            <ul class="contact_a">
                <li><a href="">privacy policy</a></li>
                <li><a href="">terms</a></li>
                <li><a href="">accessibility</a></li>
                <li><a href="">cookie settings</a></li>
                <li><a href="">cookie policy</a></li>
            </ul>
            <p class="email">© 2023 coty operations</p>
        </div>
    </footer>

    <div style="width:12px">
        <span>sjldakfj</span>
    </div>

    <script src="../../fileJS/new.js"></script>
</body>

</html>