* {
  box-sizing: border-box;
  margin: auto;
}
.name_logo {
  padding-top: 3em;
  padding-left: 28rem;
  padding-right: 28rem;
  padding-bottom: 1.5em;
  font-size: 1.2em;
  color: #b3848f;
  font-weight: bold;
  font-family: "TT Chocolates", sans-serif;
  display: flex;
  text-indent: 35px;
  font-size: 1.3em;
}

.name_content_content {
  padding-bottom: 3em;
}
.name_content {
  padding-top: 1em;
  padding-left: 20em;
  padding-right: 20em;
  font-family: "TT Chocolates", sans-serif;
}
