body {
  margin: 0;
}

.wrapper_content_product {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f8f1f4;
  padding-bottom: 20px;
}

.wrapper_product {
  width: 1400px;
  height: auto;
  /* margin: auto; */
  /* overflow-x: scroll; */
  overflow: hidden;
  /* overflow: visible; */
}

.wrapper_product::-webkit-scrollbar {
  display: none;
}

.product_item {
  width: 337px;
  height: 425px;
  background-color: white;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid #e7dae2;
  margin-right: 12px;
}

.product_item img {
  width: 337px;
  position: absolute;
  width: 100%;
  cursor: pointer;
}

.product_item:hover .img_front {
  opacity: 0;
  transition: opacity 0.2s linear;
}

.product_item:hover .wrapper_note_product {
  bottom: 0;
  transition: bottom 0.2s linear;
}

.header_product {
  color: #b3848f;
}

.wrapper_footer_btn {
  display: flex;
  justify-content: space-between;
  padding-top: 0;
  transition: padding-top 0.2s linear;
  padding-bottom: 15px;
}

.wrapper_note_product {
  position: absolute;
  width: 100%;
  height: 148px;
  bottom: -60px;
  background-color: white;
  transition: bottom 0.2s linear;
}

.note_item {
  padding: 7px 15px;
}

.wrapper_note_product p {
  font-size: 17px;
  margin-top: 5px;
}

.wrapper_rating p {
  font-size: 12px;
  margin-top: 0;
}

.header_note {
  display: flex;
  justify-content: space-between;
  font-size: 19px;
  font-weight: 700;
}

.header_note a {
  text-decoration: none;
  color: #111;
}

.wrapper_count {
  display: flex;
  width: 110px;
  height: 40px;
  border-radius: 4px;
  justify-content: space-between;
  border: 1px solid #111111;
  background-color: white;
  align-items: center;
  overflow: hidden;
}

#wrapper_count_item {
  /* width: 33.33%; */
  flex-grow: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: white;
  border: none;
  outline: none;
  font-size: 18px;
}

.btn_count:hover {
  cursor: pointer;
}

.submit {
  width: 187px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #111;
  background-color: white;
}

.submit:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.decrease {
  opacity: 0.2;
}

.wrapperAllProductItem {
  display: flex;
  overflow: hidden;
  transition: transform 0.2s linear;
}

.btn_slide {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  outline: 0;
  border: 1px solid #b5aab1;
  cursor: pointer;
  font-size: 21px;
  color: #7a6973;
}
