.background-product {
  width: 100%;
  height: 28rem;
  border: 1px solid whitesmoke;
  display: flex;
}
.product-img {
  padding: 1rem 1rem;
  width: 40rem;
  height: 25rem;
}
.review-product {
  text-align: center;
  padding: 5rem 7rem 19rem 17rem;
  font-size: 1em;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 1px;
}
p {
  color: #bbbbbb;
}
.button {
  width: 6rem;
  height: 2rem;
}
.button_shop :hover {
  color: white;
  background-color: #5a5a5a;
  cursor: pointer;
}
