@media (max-width: 1435px) {
  .wrapper_count {
    display: none;
  }
  .wrapper_footer_btn a {
    width: 100%;
  }
  .buyProduct {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  /* .wrapper_count {
      display: none;
    }
    .wrapper_footer_btn a {
      width: 100%;
    }
    .buyProduct {
      width: 100%;
    } */
  .wrapperAllProductItem {
    width: 49%;
  }
}
