*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: 'TT Chocolates', sans-serif;
    background-color: #f9f0f4;
    z-index: 1;
}
.Menu-bar{
    display: flex;
    color: #393939;
    height: 5rem;
    background-color: #ffffff00;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
.Menu-bar:hover{
    background-color: white;
}
.list-menu{ 
    display: flex;
    text-decoration: none;
    list-style-type: none;
    flex-flow: row wrap;
    justify-content: space-around;
    height: auto;
    align-items: center;
    position: relative;
}
ul{
    margin: 0;
    padding: 0;
}
.text{
    text-decoration: none;
    text-align: center;
    color: #393939;
}
.font25px{
    font-size: 25px;
    font-weight: 500;
}
.font10px{
    font-size: 10px;
}
.list-icon{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    width: 20rem;
    flex-flow: row wrap;
    justify-content: space-around;

}
/* .background-menu{
    background-color: #ffffff;
    height: 45rem;
    z-index: 1;
} */
/* menu phụ */
.subnac-content{
    align-items: center;
    position: absolute;
    display: flex;   
    flex-flow: row wrap; 
    left: -10rem;
    width: 100%;
    min-width: 99.5rem;
    height: 38rem;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    padding: 3rem 8rem;
    z-index: 0;
    
    display: none;
    
}
.subnac-content .item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 1rem;
    
}
.Subnav{
    padding:  10px;
}
.Logo{
    z-index: 1;
}
a{
    text-decoration: none;
    color: #393939;
    font-size: 16px;
    line-height: 2rem;
}
.img-product{
    border-radius: 0.5rem;
    width: 160px;
    height: 160px;
}
.padding-15px{
    margin: 15px;
}
.text-pink{
    color: #b3848f;
}
.Subnav:hover .subnac-content{
    align-items: center;
    position: absolute;
    display: flex;   
    flex-flow: row wrap; 
    left: -10rem;
    width: 100%;
    min-width: 99.5rem;
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    padding: 3rem 8rem;
    z-index: 0;
}
.Subnav:hover .Menu-bar{
    height: 30rem;
}
.Subnav:hover {
    background-color: #f9f0f4;
    border-radius: 5px;
    padding: 0 10px;
    
}
.font16px{
    font-size: 16px;
}
.subnac-content .item a{
    width: 150px;
}
.custombtn{
    border: 1px solid black;
    width: 140px;
    height: 50px;
    background-color: #ffffffff;
    border-radius: 5px;
    margin: 3rem 0 3rem 38rem;
}   
.iconcustom{
    font-size: 25spx;
}